.r-ui .r-ui-main .r-ui-article .sample-panel ul {
  display: flex;
  margin: 0px;
  list-style: none;
  padding: 0px;
  border-bottom: 1px solid #d1d5da;
}
.r-ui .r-ui-main .r-ui-article .sample-panel ul li {
  margin: 0px;
  padding: 8px 12px;
  cursor: pointer;
  transform: translateY(2px);
  box-sizing: border-box;
}
.r-ui .r-ui-main .r-ui-article .sample-panel ul li.active {
  border: 1px solid #d1d5da;
  border-bottom-color: #f6f8fa;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #f6f8fa;
}
.r-ui .r-ui-main .r-ui-article .sample-demo {
  border: 1px solid #d1d5da;
  border-radius: 4px;
  margin-bottom: 16px;
}
.r-ui .r-ui-main .r-ui-article .sample-demo > p {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d1d5da;
  padding-left: 12px;
  background-color: #f6f8fa;
}
.r-ui .r-ui-main .r-ui-article .sample-demo > div {
  padding: 8px 12px;
}
