.r-ui-main {
  user-select: none;
  margin: 24px 0px;
}
.r-ui-main .r-ui-menu {
  width: 220px;
}
.r-ui-main .r-ui-menu-root {
  padding: 10px 16px;
  color: #24292e;
  font-weight: 600;
}
.r-ui-main .r-ui-menu-item {
  padding: 6px 12px;
  color: #586069;
  cursor: pointer;
  border-left: 4px solid transparent;
  font-size: 14px;
  white-space: nowrap;
}
.r-ui-main .r-ui-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 4px solid #e36209;
  box-sizing: border-box;
}
.r-ui-main .menu-item-active .r-ui-menu-item {
  color: #6f42c1;
  border-left-color: #6f42c1;
  font-weight: 600;
}
.r-ui-main .r-ui-article {
  margin: 0px 60px;
}
.r-ui-main .r-ui-article.markdown-body h1,
.r-ui-main .r-ui-article.markdown-body h2,
.r-ui-main .r-ui-article.markdown-body h3,
.r-ui-main .r-ui-article.markdown-body h4,
.r-ui-main .r-ui-article.markdown-body h5,
.r-ui-main .r-ui-article.markdown-body h6 {
  margin-top: 8px;
}
