.r-ui-header {
  border-bottom: 1px solid #e1e4e8;
  box-sizing: border-box;
  height: 55px;
  line-height: 56px;
}
.r-ui-header a:link,
.r-ui-header a:visited,
.r-ui-header a:hover,
.r-ui-header a:active {
  color: #0366d6;
}
.r-ui-header .logo {
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  color: #6f42c1;
  position: relative;
  width: 260px;
}
.r-ui-header .logo:after {
  content: attr(library);
  position: absolute;
  font-size: 12px;
  color: #6a737d;
  left: 98px;
  bottom: -7px;
}
.r-ui-header .logo::before {
  content: attr(version);
  position: absolute;
  font-size: 12px;
  color: #24292e;
  left: 98px;
  top: -7px;
  font-weight: 900;
}
.r-ui-header .navigate {
  height: 55px;
}
.r-ui-header .navigate .item {
  font-size: 16px;
  color: #0366d6;
  cursor: pointer;
  position: relative;
  padding: 0 4px;
  margin-right: 20px;
}
.r-ui-header .navigate .item .active {
  font-weight: 900;
}
.r-ui-header .navigate .item:hover {
  font-weight: 600;
}
.r-ui-header .navigate .github-icon {
  margin-top: 10px;
  margin-right: 16px;
}
