.r-ui .row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.r-ui .row.right {
  justify-content: flex-end;
}
.r-ui .row.left {
  justify-content: flex-start;
}
.r-ui .row.center {
  justify-content: center;
}
.r-ui .row.between {
  justify-content: space-between;
}
.r-ui .row.around {
  justify-content: space-around;
}
.r-ui .row .col.fixed {
  flex-grow: 0;
  flex-shrink: 0;
}
.r-ui .row .col.grow-only {
  flex-grow: 1;
  flex-shrink: 0;
}
.r-ui .row .col.grow-and-shrink {
  flex-grow: 1;
  flex-shrink: 1;
}
.r-ui .row .col.shrink-only {
  flex-grow: 0;
  flex-shrink: 1;
}
